mixin dots(name, progress)
    - var n = 0;
    span.skill(class="skill-" + name)= name
        .dots-wrapper
            while n++ < 12
                if n <= progress
                    span.dot.active
                else
                    span.dot

mixin progressbar(name, title, px)
    .progress-item(class="progress-" + name)
        span.progress-title= title
        .progressbar
            .progress-value(style="width:" + px + "px")

mixin title(name)
    .title-block
        .title-wrapper
            .icon-title(class="icon-" + name)
            h2.title= name

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Curriculum Vitae
    body
        .container.clearfix
            .left-column
                .logo
                    .portrait
                    h2.portrait-name name here
                    h1.portrait-surname surname
                    h3.portrait-profession graphic designer
                .profile
                    +title('profile')
                    .profile-vita
                        |Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                        |Aenean commodo ligula eget dolor. Aenean massa.
                        |Cum sociis natoque penatibus et magnis dis parturient montes,
                        |nascetur ridiculus mus. Donec quam felis, ultricies nec,
                        |pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                        |Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                        |In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
                        |Nullam dictum felis  <b>eu pede mollis pretium. Integer tincidunt.
                        |Cras dapibus. Vivamus elementum semper nisi.
                        |Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
                        |consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in,
                        |viverra quis, feugiat a, tellus.
                        |Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.</b>
                .contact
                    +title('contact')
                    table.contact-table
                        tr
                            td.table-topic address
                            td.table-value Main Street, City.
                        tr
                            td.table-topic e-mail
                            td.table-value contact@domain.com
                        tr
                            td.table-topic phone
                            td.table-value 555-555-555
                        tr
                            td.table-topic website
                            td.table-value www.yourweb.com
                .skills
                    +title('skills')
                    +dots('creative', 9)
                    +dots('teamwork', 11)
                    +dots('innovate', 6)
                    +dots('communication', 11)
            .right-column
                .education
                    +title('education')
                    - var n = 0;
                    while n++ < 4
                        .education-wrapper
                            .education-item= ''
                                span.head= 'master degree'
                                span.date= '// Feb 2011 - Jun 2014'
                                br/= ''
                                span.name= 'university name'
                                br/= ''
                                span.explanation= 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit.Aenean commodo ligula eget dolor. Aenean massa.Cum sociis natoque penatibus et magnis dis parturient montes,nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.'
                .experience
                    +title('experience')
                    - var n = 0;
                    while n++ < 3
                        .experience-wrapper
                            .experience-item= ''
                                span.head= 'company name'
                                span.date= '// Feb 2011 - Jun 2014'
                                br/= ''
                                span.name= 'your job here'
                                br/= ''
                                span.explanation= 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit.Aenean commodo ligula eget dolor. Aenean massa.Cum sociis natoque penatibus et magnis dis parturient montes,nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.'
                .software
                    +title('software')
                    +progressbar('photoshop', 'photoshop', 252)
                    +progressbar('dreamweaver', 'dreamweaver', 230)
                    +progressbar('illustrator', 'illustrator', 195)
                    +progressbar('aftereffects', 'after effects', 170)
                    +progressbar('indesign', 'indesign', 156)
                    +progressbar('html', 'html&css3', 252)