mixin dots(name, progress)
    - var n = 0;
    span= name
        .wrap
            while n++ < 12
                if n <= progress
                    span.dot.active
                else
                    span.dot

mixin progressbar(name, progress)
    .progress-item
        span.progress-title= name
        .progressbar
            .progress(style="width:"+progress+"px")

mixin title(name)
    .title-block
        .wrapper
            .icon(class="icon-"+name)
            h2.title= name

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Curriculum Vitae
    body
        .container
            .left-column
                .logo
                    .portrait
                    h2 name here
                    h1 surname
                    h3 graphic designer
                .profile
                    +title('profile')
                    p
                        |Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                        |Aenean commodo ligula eget dolor. Aenean massa.
                        |Cum sociis natoque penatibus et magnis dis parturient montes,
                        |nascetur ridiculus mus. Donec quam felis, ultricies nec,
                        |pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                        |Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                        |In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
                        |Nullam dictum felis  <b>eu pede mollis pretium. Integer tincidunt.
                        |Cras dapibus. Vivamus elementum semper nisi.
                        |Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
                        |consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in,
                        |viverra quis, feugiat a, tellus.
                        |Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.</b>
                .contact
                    +title('contact')
                    table
                        tr
                            td address
                            td Main Street, City.
                        tr
                            td e-mail
                            td contact@domain.com
                        tr
                            td phone
                            td 555-555-555
                        tr
                            td website
                            td www.yourweb.com
                .skills
                    +title('skills')
                    +dots('creative', 9)
                    +dots('teamwork', 11)
                    +dots('innovate', 6)
                    +dots('communication', 11)
            .right-column
                .education
                    +title('education')
                    - var n = 0;
                    while n++ < 4
                        .wrap
                            .wrap-item= ''
                                span= 'master degree'
                                span= '// Feb 2011 - Jun 2014'
                                br/= ''
                                span= 'university name'
                                br/= ''
                                span= 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit.Aenean commodo ligula eget dolor. Aenean massa.Cum sociis natoque penatibus et magnis dis parturient montes,nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.'
                .experience
                    +title('experience')
                    - var n = 0;
                    while n++ < 3
                        .wrap
                            .wrap-item= ''
                                span= 'company name'
                                span= '// Feb 2011 - Jun 2014'
                                br/= ''
                                span= 'your job here'
                                br/= ''
                                span= 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit.Aenean commodo ligula eget dolor. Aenean massa.Cum sociis natoque penatibus et magnis dis parturient montes,nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.'
                .software
                    +title('software')
                    +progressbar('photoshop', 252)
                    +progressbar('dreamweaver', 230)
                    +progressbar('illustrator', 195)
                    +progressbar('after effects', 170)
                    +progressbar('indesign', 156)
                    +progressbar('html&css3', 252)